body{
    height: 530px;;
    background: #F3F5FC;
}
header{
    width: 100%;
    height: 10%;
}
.logoAlura{
    width: 7%;
}
.tituloEncriptador{
    width: 80%;
    display: inline-block;
    text-align:center;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: lighter;
    color:#0A3871;
}
main{
    width: 100%;
    height: 70%;
}
.left{
    width: 40%;
    height: 100%;
    border-radius: 24px;
    float: left;
}
.right{
    float: right;
    margin-right: 10px;
    width: 40%;
    height: 80%;
    border-radius: 24px;
    background: white;
}
#imgDer{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 10%;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 70%;
    height: 70%;
    color: #0A3871;
    font-size: 20px;
    border: #0A3871;
    background: #F3F5FC;
    outline: none;
}
#texto{
    width: 100%;
    text-align: center;
    font-size: medium;
    color: #0A3871;
}
#texto2{
    border: transparent;
    font-size: 15px;
    background-color: #F3F5FC;
    float: left;
    margin-left: 10%;
    border: none;
    outline: none;
    font-size: 15px;
    color: #0A3871;
}
#copiar{
    margin-left: 33%;
    margin-top: 70%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
}
footer{
    width: 60%;
    height: 10%;
}
.buttons{
    padding: 0%;
}
.botonIzquierda{
    display: inline;
}
p{
    font-size: small; 
    font-style: oblique; 
    margin-left: 15%;
    color:#2d4394;
}
.aclaracionTexto::before{
    content: "✱ ";
}
.aclaracionTexto::after{
    content: "  👀";
}
.botonDerecha{
    display: inline;
    margin-left: 10%;
}
#btn-encriptar{
    padding: 18px;
    width: 25%;
    text-transform: uppercase;
    font-size: x-small;
    border-radius: 20px;
    margin-left: 15%;
    background: #F3F5FC;
}
#btn-desencriptar{
    padding: 18px;
    width: 25%;
    text-transform: uppercase;
    font-size: x-small;
    border-radius: 20px;
    margin-left: 15%;
    background: #0A3871;
    color: #F3F5FC;
}
